:root{
  --background-base: #ffffff;
  --background-base-opacity: rgba(255, 255, 255, 0.85);
  --background-down-opacity: rgba(255, 255, 255, 0.2);
  --scrollbar-base-opacity: rgba(0, 0, 0, 0.5);
  --background-code-base: #f9f2f4;
  --color-base: #000000;
  --color-down: #70757a;
  --color-code-base: #9a354a;
  --primary-brand-base: #614cf6;
  --secondary-brand-base: #f6a54c;
  --secondary-brand-base-opacity: rgba(110, 89, 255, 0.4);
  --primary-brand-background-base: #504646;
  --border-base: #d6d6d6;
  --group-base: #f4f4f4;
  --group-base-opacity: rgba(244, 244, 244, 0.5);
  --danger: #e03434;
  --black: #000000;
  --white: #ffffff;

  background-color: var(--background-base);
  color: var(--color-base);
}

[data-theme='dark'] {
  --background-base: #000000;
  --background-base-opacity: rgba(0, 0, 0, 0.85);
  --background-down-opacity: rgba(0, 0, 0, 0.2);
  --scrollbar-base-opacity: rgba(255, 255, 255, 0.5);
  --background-code-base: #3c3636;
  --color-base: #ffffff;
  --color-down: #ababab;
  --color-code-base: #6e59ff;
  --secondary-brand-base: #ffb3c2;
  --secondary-brand-base-opacity: rgba(110, 89, 255, 0.4);
  --border-base: #d6d6d6;
  --group-base: #242526;
  --group-base-opacity: rgba(36, 37, 38, 0.7);

  background-color: var(--background-base);
  color: var(--color-base);
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.app{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  width: 100%;
  max-width: 66.667rem;
  padding: 1.5rem 3rem;
  margin: auto;
}

@media (max-width: 40.875rem) { /* mobile */
  .main{
    padding: 1rem;
  }
}

.icon{
  color: inherit;
}

@keyframes icon-spin {
  100% {
    transform: rotate(360deg);
  }
}

.icon-spin{
  animation: icon-spin 1s infinite linear;
}

.button{
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0.1rem solid var(--color-base);
  color: var(--color-base);
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.button:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

.button-primary{
  border: 0.1rem solid var(--primary-brand-base);
  color: var(--white);
  background-color: var(--primary-brand-base);
}

.button-danger{
  border: 0.1rem solid var(--danger);
  color: var(--white);
  background-color: var(--danger);
}

.button-icon{
  margin-right: 0.5rem;
}

.input-label{
  display: block;
}

.input-label:focus-within{
  color: var(--primary-brand-base);
}

.input-label-disabled{
  opacity: 0.5;
  color: var(--color-down);
}

.input-span{
  position: absolute;
  font-size: 0.8rem;
  margin: 0.8rem 1.1rem;
  pointer-events: none;
}

.input{
  border: 0.1rem solid var(--border-base);
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.input-label-text{
  padding: 2.4rem 1rem 0.8rem 1rem;
}

.input::placeholder{
  color: var(--border-base);
}

.input:focus{
  outline-color: var(--primary-brand-base);
}

.input:disabled{
  cursor: not-allowed;
}

.lazyimage{
  width: 100%;
  object-fit: cover;
}

.switch{
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  min-width: 2.5rem;
  min-height: 2.5rem;
  background-color: var(--color-down);
  color: var(--border-base);
}

.switch-checked{
  background-color: var(--primary-brand-base);
  color: var(--white);
}

.switch:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(16px);
  background-color: var(--background-down-opacity);
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3 cubic-bezier(0.19, 1, 0.22, 1);
  overflow-y: auto;
  z-index: 2;
}

.modal-open{
  display: flex;
}

.modal-backdrop{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toast-wrapper-topLeft{
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.toast-wrapper-topRight{
  position: fixed;
  top: 1rem;
  right: 1rem;
}


.toast-wrapper-bottomRight{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.toast-wrapper-bottomLeft{
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.toast{
  background-color: var(--primary-brand-base);
  color: var(--white);
  width: fit-content;
  min-width: 10rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: opacity 0.25s linear;
  margin-bottom: 1rem;
}

.toast-disappear{
  opacity: 0;
}

.toast-header{
  font-weight: bold;
  border-bottom: 0.1rem solid var(--color-down);
  padding: 0.5rem 1rem 0.25rem 1rem;
}

.toast-body{
  padding: 0.5rem 1rem;
}

.toast-durationbar{
  transition: 0.1s linear;
  background-color: var(--secondary-brand-base);
  height: 0.25rem;
  border-radius: 0 0 0 0.25rem;
}

.card{
  width: fit-content;
  display: grid;
  border: 0.1rem solid var(--border-base);
  border-radius: 0.25rem;
}

.card-image{
  width: calc( 100% + 0.1rem );
  margin: -0.05rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-body{
  padding: 1rem;
  display: grid;
}

.card-title{
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-description{
  color: var(--color-down);
}

.breadcrumb-list{
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcrumb-item{
  cursor: pointer;
  color: var(--primary-brand-base);
}

.breadcrumb-list li:after{
  color: var(--border-base);
}

.breadcrumb-list li:nth-last-child(1):after{
  content: '';
}

.grid{
  width: 100%;
  border-collapse: collapse;
}

.grid caption{
  padding: 1rem 0 1rem 0;
}

.grid thead{
  background-color: var(--group-base);
}

.grid th, td{
  border: 0.1rem solid var(--border-base);
  padding: 0.5rem;
}

.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 66.667rem;
  padding: 1.5rem 3rem;
  margin: 0 auto 0 auto;
}

.footer a{
  color: var(--color-base);
}

.header-titleDiv{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: auto;
}

.header-logo{
  width: 2rem;
  margin-right: 0.5rem;
}

.header-title{
  font-size: 1.5rem;
}

.header-links ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-links-button{
  display: none;
}

.header-links li:not(:last-child){
  margin: 0 1rem 0 0;
}

@media (max-width: 40.875rem) {
  .header{
    padding: 1rem;
  }

  .header-links{
    display: none;
    width: 100%;
    padding: 1rem 0 0 0;
  }

  .header-links-open{
    display: flex;
  }

  .header-links ul{
    display: flex;
    flex-direction: column;
  }

  .header-links li:not(:last-child){
    margin: 0 0 0.5rem 0;
  }

  .header-links-button{
    display: block;
  }
}

.footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 66.667rem;
  padding: 1.5rem 3rem;
  margin: auto auto 0 auto;
}

.footer a{
  color: var(--color-base);
}

.footer-links{
  width: 100%;
}

.footer-links ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li:not(:first-child, :last-child){
  margin: 0 1rem 0 0;
}

.footer-links svg{
  margin: 0 0.25rem 0 0;
}

.footer-links-copyright{
  margin-right: auto;
}

@media (max-width: 40.875rem) {
  .footer{
    padding: 1rem;
  }

  .footer-links ul{
    display: flex;
    flex-direction: column;
  }

  .footer-links li:not(:first-child){
    margin: 0.5rem 0 0 0;
  }
}

.errorsection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* custom */

.switch-darkmode{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.switch-darkmode.switch-checked{
  background-color: var(--color-down);
}

.switch-darkmode svg{
  font-size: 1.5rem;
}

.catcard{
  width: 10rem;
  cursor: pointer;
}